footer {
    height: 120px;
    width: 100%;
    background-color: #354F6A;

    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    color: white;
    text-align: center;
    line-height: 120px;
    bottom: 0;
}