h2 {
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
    text-decoration: underline;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    width: 80%;
    margin: 0 auto;

    .container {
        overflow-x: auto;

        table {
            width: 100%;
        }

        .mat-mdc-form-field {
            font-size: 14px;
            width: 100%;
        }

        td,
        th {
            width: 25%;
        }
    }
}