<div class="img-container">
    <img src="../../assets/images/home-header-img.jpg" alt="Kvinna som bär varma kläder och tittar mot kameran.">

    <h2><strong>Vill du plugga hos oss?</strong></h2>
</div>

<div class="links">
    <a href="home">Hem</a>
    <a href="table">Kurser</a>
    <a href="schema">Ramschema</a>
</div>

<div class="img-shortcuts">
    <div class="card">
        <img src="../../assets/images/studying.jpg" alt="En grupp av killar som studerar tillsammans">
        <h3>Att studera på universitet</h3>
        <p>En guide för dig som vill lära dig mer om att studera på universitet.</p>
    </div>
    <div class="card">
        <img src="../../assets/images/student-life.jpg" alt="Tre människor som hoppar i luften av glädje.">
        <h3>Livet som student</h3>
        <p>Våra studenter delar med sig av studentkåren och alla roliga aktiviteter som finns.</p>
    </div>
    <div class="card">
        <img src="../../assets/images/science.jpg" alt="Två människor som forskar.">
        <h3>Våra forskningslokaler</h3>
        <p>Vi har flera framgångsrika forskningsteam inom kemi, läkemedel och biologi.</p>
    </div>
</div>

<h2>
    Nyheter
</h2>

<div class="news">
    <img src="../../assets/images/news.jpg" alt="En grupp av människor osm kastar sina examenshattar.">
    <p> Senaste nyheterna <br><br>
        2024-05-22 Dags för studentmiddag för våra avgående studenter.
    </p>
</div>